.bodycontact {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/Images/B-G/Keyboard.jpg") center / cover no-repeat;
    color: #fff;
    min-height: 100vh;
}

.contact-container {
    width: 100vw;
    min-height: 100vh;
    margin-top: 50px;
}

.line1 {
    font-size: 3rem;
    color: #7302f7;
    padding-left: 20px;
    padding-right: 20px;
}

.line2 {
    font-family: 'Courier New', Courier, monospace;
    color: #f8f9fa;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
}

.form-label {
    color: #f8f9fa;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.form-control {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    border: 1px solid #f8f9fa;
    color: #f8f9fa;
    background-color: #f8f9fa;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 8px #7e02f3;
    border: 1px solid #7e02f3;
    color: #f8f9fa;
}

.card-custom {
    background-color: #00000080;
    border: 1px solid #f8f9fa;
    box-shadow: 0 0 8px #f8f9fa;
}

.btn-purple {
    background-color: rgba(138, 28, 241);
    border-color: #7b4397;
    color: white;
}

.btn-purple:hover {
    background-color: rgb(57, 2, 111);
    border-color: rgb(55, 5, 104);
    color: white;
}

.para {
    color: #f8f9fa;
}

.penquin {
    color: snow;
}

.placehold::placeholder {
    color: #fff;
}

.placehold:required {
    background-color: #1e1e1e;
}


.p-key {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 1rem;
}

.p-value {
    font-family: 'Courier New', Courier, monospace;
    color: #f8f9fa;
}

@media (max-width: 576px) {
    .line1 {
        font-size: 2.5rem;
    }

    .line2 {
        font-size: 1rem;
    }
}
