.pro-body {
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: #fff;
    min-height: 100vh;
}

.project-container {
    min-height: 76vh;
    margin: 20px auto;
    padding: auto 20px;
}

.page-title {
    color: #7e02f3;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.project-card {
    position: relative;
    overflow: hidden;
    background-color: #00000080;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border: 2px solid #7e02f3;
    box-shadow: 0 0 10px 5px #fff;
}

.project-card img {
    width: 100%;
    height: auto 300px;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.5s;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.project-overlay p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

.btn-contain {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.btn-custom {
    position: relative;
    background-color: #7e02f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px #7e02f3;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.bag {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
}

.tech-badge {
    display: inline-block;
    background-color: #ffffff;
    color: #7e02f3;
    padding: 4px 10px;
    margin: 4px 4px 0 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    opacity: 0;
    cursor: pointer;
    transform: translateY(10px);
    animation: fadeUp 0.6s ease forwards;
}

.tech-badge:nth-child(2) {
    animation-delay: 0.2s;
}

.tech-badge:nth-child(3) {
    animation-delay: 0.4s;
}

.tech-badge:nth-child(4) {
    animation-delay: 0.6s;
}

.tech-badge:hover {
    background-color: #7e02f3;
    color: #fff;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-footer {
    width: 100vw;
    max-height: 50px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}