@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background: url(/Images/B-G/imgi_15_bg.png) center / cover no-repeat rgba(0,0,0);
  color: #fff;
  height: 100vh;
  overflow: hidden;
}


.logo-d {
  color: #fff;
  font-size: 2.8rem;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  color: #fff;
  font-size: 2rem;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.nav {
  gap: 1.5rem;
}

.list-d a {
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.list-d a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  text-shadow: 6px #9e9e9e;
  background: #9e9189;
  transform: translate(0%, 100%)scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.list-d a:hover::after {
  transform: translate(0%, 100%)scale(1);
}


.list-d a:active {
  transition: transform 0.3s ease;
  font-size: 1rem;
  transform: translate(0%, -30%)scale(1);
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -40vw;
  width: 40vw;
  height: 100%;
  background: #fff;
  color: #fff;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.list {
  list-style: none;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.side-menu.active {
  left: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 100vw;
  height: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}