@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/Images/B-G/imgi_15_bg.png") center / cover no-repeat;
  color: #fff;
  min-height: 100vh;
}


.logo-d {
  color: #fff;
  font-size: 2.8rem;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  color: #fff;
  font-size: 2rem;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.nav {
  gap: 1.5rem;
}

.list-d a {
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.list-d a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  text-shadow: 6px #7e02f3;
  background: #7e02f3;
  transform: translate(0%, 100%)scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  border-radius: 5px;
}

.list-d a:hover::after {
  transform: translate(0%, 100%)scale(1);
}


.list-d a:active {
  transition: transform 0.3s ease;
  font-size: 1rem;
  transform: translate(0%, -30%)scale(1);
}

.side-menu {
  position: fixed;
  top: 0;
  left: -70vw;
  width: 70vw;
  max-width: 320px;
  height: 100%;
  background: #fff;
  color: #fff;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.list {
  list-style: none;
  padding: 0;
}

.list a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.side-menu.active {
  left: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.content {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}

.container {
  background-color: #00000080;
  max-height: max-content;
  max-width: max-content;
  border-radius: 10px;
  border: 2px solid #7e02f3;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px #7e02f3;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 500;
}

.name {
  color: #7e02f3;
  font-size: 50px;
  font-weight: bolder;
}

.inb {
  position: relative;
  color: #fff;
  background-color: #00000080;
  border: 3px solid #7e02f3;
  cursor: pointer;
  padding: 12px 25px;
}

.inb:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #7e02f3;

}


.bi-arrow-down {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


@keyframes arrow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.footer {
  width: 100vw;
  background-color: #000;
  color: #fff;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
}


.social-icons {
  display: flex;
  gap: 30px;
  margin-right: 10px;
}

.icon {
  width: 35px;
  height: 35px;
}

.extraas {
  align-items: center;
  margin-top: 10px;
}

.completed {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 10px;
  border: 20px solid #00000080;
}

@media (max-width: 768px) {
  .name {
    font-size: 30px;
  }

  .title {
    font-size: 18px;
  }

  .completed {
    width: 80%;
    text-align: center;
  }

  .inb {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .list-d a {
    font-size: 0.8rem;
  }
}
